<html>

<head>
    <title>Angular JS Forms</title>
</head>

<body>
    <h2>AngularJS Sample Application</h2>
    <div ng-app="mainApp" ng-controller="CalcController">
        <p>Enter a number: <input type="number" ng-model="number" />
            <button ng-click="square()">X<sup>2</sup></button>
            <p>Result: {{result}}</p>
    </div>
    <script src="../angular.min.js"></script>
    <script>
        //Angular中服务的使用方法
        //1.使用工厂的方法
        var mainApp = angular.module("mainApp", []);
        mainApp.factory('MathService', function () {

            var factory = {};
            factory.multiply = function (a, b) {
                return a * b;
            }
            return factory;
        });

       mainApp.service('CalcService', function () {
            this.square = function (a) {
                return a * a;
            }
        });

        mainApp.controller('CalcController', function ($scope,MathService) {
            $scope.square = function () {
                $scope.result = MathService.multiply($scope.number,$scope.number);
            }
        });


       /* mainApp.service('CalcService', function (MathService) {
            this.square = function (a) {
                return MathService.multiply(a, a);
            }
        });

        mainApp.controller('CalcController', function ($scope, CalcService) {
            $scope.square = function () {
                $scope.result = CalcService.square($scope.number);
            }
        });*/
        //2.使用服务的方法
    </script>
</body>

</html>